/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/*This is some further normalization and base styles. */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}





/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Responsive images base, put your images in a wrapper
img {
    display: block;
    width: 100%;
    height: auto;
}

/*Here's where you would put your Google Fonts import*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Sans+Pro:200,300,400,400i,600,700,900|Source+Serif+Pro:400,600,700');


/* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}




/* END BOX MODEL SETTINGS */

body {
  font-size: 15px; /* Base Size */
  /*Setting the base font family*/
  font-family: "Source Sans Pro", Verdana, sans-serif;
  margin: 0;
  padding: 0;
}



@media only screen and (max-width: 500px) {
    body {

    }

    .author {

    }
    .content {
      max-width: 100%;
    }


}
/*Here's a sample media query for you. This one is for desktop styles.*/
/*@media only screen and (min-width: 960px) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Use this clearfix class on the parent of floated elements to clear the float! */
a {
  color: white;
  text-decoration: none;
  margin-right: 2%;
}
a:hover {
  color:red;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.wrapper {

<<<<<<< HEAD
 margin-left: 8%;

<<<<<<< HEAD
}

.myheader {

 background: transparent url("../images/ghosthoaxbanner.png") repeat center center;
 margin-left: -10%;
max-height: 100%;
padding-top: 5%;
padding-bottom: 5%;

=======

.myheader {
  background: transparent url("/images/ghosthoaxbanner.png") no-repeat center center;
>>>>>>> 1e3b39cd8fadb3b8bc6a70d5baea345ec503002c
=======

.myheader {
  background: transparent url("/images/ghosthoaxbanner.png") no-repeat center center;
>>>>>>> 1e3b39cd8fadb3b8bc6a70d5baea345ec503002c
}

.logo {
  float: top left;
  margin-top: 2%;
  margin-left: 1%;
  margin-left: 10%;
  position: relative;
}

.links {
  font-size: 18px;
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  position: relative;
  padding-left: 1%;
  margin-left: 10%;
  margin-top: ;
}

body {
  background-color: #206040;
  font-family: 'Hind', sans-serif;
  color: white;
  background: transparent url("../images/bg.png") repeat center center;

}

.bodywrapper {
  margin-top: 2%;
  max-width: 1200px;
  position: absolute;
}
.author {

  background-color: black;
  text-align: center;
  position: relative;
}

.authorabout img {
  border-radius: 50%;
  max-width: 100%;
}

.authorabout h1 {
  font-weight: bold;
  font-size: 20px;
}

.content {
  background-color: ;
  font-size: 16px;

}

/* Desktop */
@media only screen and (min-width: 960px) {
  .bodywrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .author {
    max-width: 20%;
    margin-left: 3%;
    padding: 2%;
  }
  .content {
    max-width: 50%;
    margin-left: 10%;
    order: 2;
  }
}

/* Desktop */
@media only screen and (min-width: 960px) {
  .bodywrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .author {
    max-width: 20%;
    margin-left: 3%;
    padding: 2%;
  }
  .content {
    max-width: 50%;
    margin-left: 10%;
    order: 2;
  }
}

.showtitle {
  font-size: 18px;
  font-weight: bold;
}

.showepisode {
  font-size: 16px;
  font-weight: ;
  margin-top: -3.5%;
  font-style: ;
}

.episodename {
  font-size: 16px;
  margin-top: -3.5%;
}

.date {
  margin-top: -2%;
  font-style: italic;
  font-size: 15px;
}

.readmore {
  text-align: right;
  font-weight: bold;
  margin-top: 5%;
}

.post1 {
  margin-bottom: 5%;
    padding: 5%;
  background-color: black;
}
.post2 {
  margin-bottom: 5%;
    padding: 5%;
  background-color: black;
}
.post3 {
  margin-bottom: 5%;
    padding: 5%;
  background-color: black;
}
.pagenumbers {
  text-align: center;
  margin-top: 10%;
  margin-bottom:5%;
}

.post1post {
  margin-bottom: 5%;
    padding: 5%;
  background-color: black;
}

.clear {
  clear: both;
}
